.embed-audio-container {
  height: 210px;
  border: 1px solid lightgrey;
  border-radius: 5px;
  margin: auto;
  display: flex;
  width: 100%;
  cursor: pointer;
}

.bottom-controls-container {
  display: none;
  text-align: center;
}

.embed-audio-container:hover .bottom-controls-container {
  display: block;
  transition: all 2s linear;
}

.podcast-info {
  position: relative;
  top: 50%;
  /* margin-left: 1rem; */
  margin-right: 1rem;
  width: 80%;
  transform: translateY(-50%);
}

.podcast-image {
  padding: 1rem;
  width: 175px;
  height: 175px;
  border-radius: 20px;
}

.play-button {
  cursor: pointer;
  border: none;
  background: none;
}

.controls-container {
  display: flex;
  margin-top: 1rem;
}

.title,
.subtitle {
  font-family: var(--main-font-light);
}

.skip-buttons {
  background: transparent;
  border: none;
  cursor: pointer;
  vertical-align: top;
  margin-top: 24px;
  margin-left: 0.5rem;
}

.speed-button {
  background: none;
  color: #535353;
  border: 1px solid #535353;
  border-radius: 5px;
  padding: 2px 10px;
  font: inherit;
  cursor: pointer;
  font-size: 12px;
  outline: none;
  vertical-align: top;
  margin-top: 24px;
  margin-left: 0.5rem;
}

.audio-player-controls {
  display: flex;
}
