.embed-audio-container {
  height: 210px;
  border: 1px solid lightgrey;
  border-radius: 5px;
  margin: auto;
  display: flex;
  width: 100%;
  cursor: pointer;
}

.bottom-controls-container {
  display: none;
  text-align: center;
}

.embed-audio-container:hover .bottom-controls-container {
  display: block;
  transition: all 2s linear;
}

.image-preview {
  padding: 1rem;
  width: 175px;
  height: 175px;
  border-radius: 20px;
}

.info {
  position: relative;
  top: 50%;
  margin-right: 1rem;
  width: 80%;
  transform: translateY(-50%);
}

.play-button {
  cursor: pointer;
  border: none;
  background: none;
}

.play-button:hover {
  opacity: 0.8;
}

.controls-container {
  display: flex;
  margin-top: 1rem;
}

.skip-buttons {
  background: transparent;
  border: none;
  cursor: pointer;
  vertical-align: top;
  margin-top: 24px;
  margin-left: 0.5rem;
}

.speed-button {
  background: none;
  color: #535353;
  border: 1px solid #535353;
  border-radius: 5px;
  padding: 2px 10px;
  font: inherit;
  cursor: pointer;
  font-size: 12px;
  outline: none;
  vertical-align: top;
  margin-top: 24px;
  margin-left: 0.5rem;
}

.audio-player-controls {
  display: flex;
}

@media only screen and (max-width: 600px) {
  .image-preview {
    display: none;
  }

  .info {
    width: 100%;
    margin-left: 1rem;
  }
}
