body {
  font-family: var(--main-font-light);
  margin: 0;
}

.submit-button {
  background-color: #8a4af3;
  color: white;
  border-radius: 5px;
  border: none;
  font-size: 20px;
  width: 85%;
  padding: 1rem;
  margin-left: 1rem;
  cursor: pointer;
  display: flex;
  justify-content: center;
}

.submit-button:hover {
  background-color: #7c42da;
}

.embed-url-textarea {
  width: 100%;
  box-sizing: border-box;
  float: left;
  border: 1px solid lightgrey;
  border-radius: 5px;
  background-color: #f1f1f1;
  padding: 10px;
  resize: none;
  margin-top: 2rem;
  font-family: var(--main-font-light);
  font-size: 16px;
}

.loader {
  border: 2px solid #fff;
  border-radius: 50%;
  border-top: 2px solid transparent;
  /* border-bottom: 16px solid white; */
  width: 1rem;
  height: 1rem;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
  margin-right: 0.5rem;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.customize-player-container {
  margin-left: 330px;
  margin-top: 5rem;
  width: 60%;
}

/* @media only screen and (max-width: 1000px) {
	.podcast-audio-container {
		width: 80%;
		margin: auto;
	}
}

@media only screen and (max-width: 600px) {
	.podcast-audio-container {
		width: 90%;
		margin: auto;
	}
} */
