.episode-image-container {
  /* display: inline-block; */
  margin-right: 1rem;
  width: 25%;
}

.episode-info-container {
  /* display: inline-block; */
  width: 70%;
}

.skip-buttons {
  background: transparent;
  border: none;
  cursor: pointer;
  vertical-align: top;
  margin-top: 24px;
  margin-left: 0.5rem;
}

.speed-button {
  background: none;
  color: #535353;
  border: 1px solid #535353;
  border-radius: 5px;
  padding: 2px 10px;
  font: inherit;
  cursor: pointer;
  font-size: 12px;
  /* margin-right: 5px; */
  outline: none;
  vertical-align: top;
  margin-top: 24px;
  margin-left: 0.5rem;
}

.audio-player-controls {
  /* max-width: 300px; */
  display: flex;
  /* flex-wrap: wrap; */
}

.embed-audio-container {
  height: 210px;
  border: 1px solid lightgrey;
  /* background-color: #1b1b1b; */
  /* border-radius: 5px; */
  margin: auto;
  display: flex;
  /* width: 100%; */
}

input[type='file'] {
  display: none;
}

.podcast-info {
  position: relative;
  top: 50%;
  margin-left: 1rem;
  margin-right: 1rem;
  width: 80%;
  transform: translateY(-50%);
}

.podcast-image {
  padding: 1rem;
  width: 175px;
  height: 175px;
  border-radius: 20px;
}

.play-button {
  cursor: pointer;
  border: none;
  background: none;
}

.controls-container {
  display: flex;
  margin-top: 1rem;
}

.navbar-inputs {
  margin-bottom: 2rem;
  margin-left: 1rem;
}

.upload-file-button {
  margin-left: 1rem;
  border: 1px dashed grey;
  border-radius: 5px;
  width: 85%;
  padding: 0.75rem 0rem;
  text-align: center;
  margin-bottom: 1rem;
}

.upload-file-button:hover {
  background-color: lightgrey;
}

.submit-button {
  background-color: #8a4af3;
  color: white;
  border-radius: 5px;
  border: none;
  /* padding: 1rem 1rem; */
  font-size: 20px;
  width: 85%;
  padding: 1rem;
  margin-left: 1rem;
  cursor: pointer;
}

.submit-button:hover {
  background-color: #7c42da;
}

/* @media only screen and (max-width: 1000px) {
	.podcast-audio-container {
		width: 80%;
		margin: auto;
	}
}

@media only screen and (max-width: 600px) {
	.podcast-audio-container {
		width: 90%;
		margin: auto;
	}
} */
