@font-face {
  font-family: 'Inter-light';
  src: local('Inter-light'), local('Inter-light'),
    url('./fonts/Inter/Inter-Regular.ttf') format('truetype');
}

:root {
  --main-font-light: 'Inter-light';
}
